// oauth config template file for an implicity flow. You may populate this
// file dynamically at runtime by setting the relevant environment variables.
// To obtain your client keys, go to http://agaveapi.co/documentation/beginners-guides/
var OAuthClients = {
    'TENANT_ID': {
        'clientKey': 'CLIENT_KEY',
        'callbackUrl': 'CALLBACK_URL',
        'scope': 'PRODUCTION'
    }
}