// production
var OAuthClients = {
    "agave.prod": {
        "clientKey": "S7vVnYUW1O2UNF5WqE4BahVfFJca",
        "callbackUrl": "https://togo.agaveapi.co/auth/",
        "scope": "PRODUCTION",
        "projectUrl": "https://agaveapi.co/",
        "supportUrl": "https://support.agaveapi.co",
        "signupUrl": "https://public.agaveapi.co/create_account"
    },
    "iplantc.org": {
        "clientKey": "xovyOn2MEz8nQICNitKIF10Ne2ka",
        "callbackUrl": "https://togo.agaveapi.co/auth/",
        "scope": "PRODUCTION",
        "projectUrl": "https://cyverse.org/",
        "supportUrl": "https://ask.cyverse.org/",
        "signupUrl": "https://user.cyverse.org/register/"
    },
    "iplantc.org": {
        "clientKey": "wertyerthdfgbwergwerg2345dfsgwer",
        "callbackUrl": "https://togo.agaveapi.co/auth/",
        "scope": "PRODUCTION",
        "projectUrl": "https://cyverse.org/",
        "supportUrl": "https://ask.cyverse.org/",
        "signupUrl": "https://user.cyverse.org/register/"
    }
};