<div class="text-center">
    <div class="form-inline">
        <!-- <select ng-options="o.name as o.name for o in operators" ng-model="group.operator" class="form-control input-sm"></select> -->
        <button ng-click="addCondition()" class="btn btn-success"><i class="fa fa-plus"></i> Add Attribute</button>
        <!-- <button style="margin-left: 5px" ng-click="addGroup()" class="btn btn-sm btn-success"><span class="glyphicon glyphicon-plus-sign"></span> Add Group</button>
        <button style="margin-left: 5px" ng-click="removeGroup()" class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-minus-sign"></span> Remove Group</button> -->
    </div>
    <div class="group-conditions top-buffer">
        <div ng-repeat="rule in group.rules | orderBy:'index'" class="condition top-buffer">
            <div ng-switch="rule.hasOwnProperty('group')">
                <div ng-switch-when="true">
                    <query-builder group="rule.group"></query-builder>
                </div>
                <div ng-switch-default="ng-switch-default">
                    <div class="form-inline">
                        <select ng-options="t.name as t.name for t in fields" ng-model="rule.field" class="form-control"></select>
                        <select ng-options="c.name as c.name for c in conditions" ng-model="rule.condition" class="form-control"></select>
                        <input type="text" ng-model="rule.data" class="form-control"/>
                        <button ng-click="removeCondition($index)" class="btn btn-danger"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
