rotate_keys.sh
node_modules
.idea
bower_components/**/doc
bower_components/**/docs
bower_components/**/documentation
bower_components/**/*.md
bower_components/**/*.markdown
bower_components/**/gulpfile.js
bower_components/**/node_modules
bower_components/**/bower_components
bower_components/**/bower.json
bower_components/**/.bower.json
bower_components/**/.gitignore
bower_components/**/*.coffee
bower_components/**/composer.json
bower_components/**/component.json
bower_components/*/Gruntfile.js
bower_components/*/karma*
bower_components/**/package.json
bower_components/**/package.js
bower_components/**/changeLog*
bower_components/**/CHANGELOG*
bower_components/**/author*
bower_components/**/AUTHORS*
bower_components/**/logo*
bower_components/**/.*
bower_components/**/LICENSE*
bower_components/amcharts
bower_components/*/webpack.*
bower_components/*/index.*
bower_components/*/circle.yml
bower_components/**/*example*
bower_components/**/src
bower_components/agave-angularjs-sdk
!bower_components/angular-filebrowser/src
bower_components/**/less
bower_components/**/sass
bower_components/**/test
bower_components/**/tests
bower_components/**/testsuite
bower_components/**/website
bower_components/**/nuget
bower_components/**/*.scss
bower_components/**/*.less
bower_components/*/*.txt
bower_components/**/grunts
bower_components/**/meteor
bower_components/**/screenshot*.png
bower_components/faker
bower_components/PACE
bower_components/**/demos
