<h3 class="page-title"> Add Metadata Item</h3>

<div class="row text-center" ng-show="requesting">
    <div class="col-md-12">
      <div class="loading-message"><div class="block-spinner-bar"><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div></div></div>
    </div>
</div>

<div class="row top-buffer" ng-show="!requesting">
    <div class="col-md-12">
        <div class="portlet light bordered" id="form_wizard_1">
            <div class="portlet-title top-buffer">
                <div class="caption">
                    <i class=" icon-layers font-red"></i>
                    <span class="caption-subject font-red bold uppercase">
                        Metadata Editor
                    </span>
                </div>
            </div>
            <div class="portlet-body form">
                <div class="row">
                  <div class="col-md-10 col-md-offset-1">
                    <div ng-jsoneditor="onLoad" ng-model="meta" options="options" change="handleError()" style="height: 800px;"></div>
                    <div class="text-center top-buffer">
                      <button class="btn btn-primary" ng-click="submit()" ng-class="submitButton ? '' : 'disabled'">Submit</button>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
