/* tags */
.tags-image{
  float:left;
  line-height:100px;
}

.search-content-1 .search-container > ul .search-item > .search-content {
  padding-left: 0px;
}

.tags-resource{
  cursor: pointer;
}
/* end tags */

/* metadata file upload */
.drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    width: 100%;
    height: 100px;
    text-align: center;
    padding-top: 35px;
    margin-bottom: 10px;
}

.top-buffer {
  margin-top:10px;
}
/* end metadata file upload */

.json-formatter-row{
  font-size: medium;
}

.table {
  table-layout: fixed;
  word-wrap: break-word;
}

/*.table td, .table th {
  word-break: break-all;
}*/

.agave-message {
  color:#b4bcc8;
}

/* CodeMirror */
.CodeMirror {
  height: auto !important;
}

/************** overwrite components.css table and tabs ************/
.table {
  min-height: 300px;
}

.portlet.light > .portlet-title > .nav-tabs > li, .portlet.light > .portlet-title > div > .nav-tabs > li {
  margin: 0;
  padding: 0; }
  .portlet.light > .portlet-title > .nav-tabs > li > a, .portlet.light > .portlet-title > div > .nav-tabs > li > a  {
    margin: 0;
    padding: 12px 13px 13px 13px;
    font-size: 13px;
    color: #666; }
  .portlet.light > .portlet-title > .nav-tabs > li.active > a,
  .portlet.light > .portlet-title > .nav-tabs > li:hover > a,
  .portlet.light > .portlet-title > div > .nav-tabs > li.active > a,
  .portlet.light > .portlet-title > div > .nav-tabs > li:hover > a {
    margin: 0;
    background: none;
    color: #333; }
  .portlet.light.form-fit {
      padding: 0; }

.portlet > .portlet-title > div > .tab-content {
  display: none; }
    .portlet > .portlet-title > .nav-tabs, .portlet > .portlet-title > div > .nav-tabs {
      background: none;
      margin: 1px 0 0 0;
      float: right;
      display: inline-block;
      border: 0; }
      .portlet > .portlet-title > .nav-tabs > li, .portlet > .portlet-title > div > .nav-tabs > li {
        background: none;
        margin: 0;
        border: 0; }
        .portlet > .portlet-title > .nav-tabs > li > a, .portlet > .portlet-title > div > .nav-tabs > li > a {
          background: none;
          margin: 5px 0 0 1px;
          border: 0;
          padding: 8px 10px;
          color: #fff; }
        .portlet > .portlet-title > .nav-tabs > li.active > a,
        .portlet > .portlet-title > .nav-tabs > li:hover > a,
  .portlet > .portlet-title > div > .nav-tabs > li.active > a,
  .portlet > .portlet-title > div > .nav-tabs > li:hover > a  {
          color: #333;
          background: #fff;
          border: 0; }

.tabbable-line > .nav-tabs, .tabbable-line > div > .nav-tabs {
  border: none;
  margin: 0px; }
  .tabbable-line > .nav-tabs > li, .tabbable-line > div > .nav-tabs > li {
    margin: 0; }
    .tabbable-line > .nav-tabs > li > a, .tabbable-line > div > .nav-tabs > li > a {
      background: none !important;
      border: 0;
      margin: 0;
      padding-left: 15px;
      padding-right: 15px;
      color: #737373; }
      .tabbable-line > .nav-tabs > li > a > i, .tabbable-line > div > .nav-tabs > li > a > i {
        color: #a6a6a6; }
    .tabbable-line > .nav-tabs > li.active, .tabbable-line > div > .nav-tabs > li.active {
      background: none;
      border-bottom: 4px solid #3fc9d5;
      position: relative; }
      .tabbable-line > .nav-tabs > li.active > a, .tabbable-line > div > .nav-tabs > li.active > a {
        border: 0;
        color: #333; }
        .tabbable-line > .nav-tabs > li.active > a > i, .tabbable-line > div > .nav-tabs > li.active > a > i {
          color: #404040; }
    .tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover,
    .tabbable-line > div > .nav-tabs > li.open, .tabbable-line > div > .nav-tabs > li:hover {
      background: none;
      border-bottom: 4px solid #a7e6ec; }
      .tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a,
      .tabbable-line > div > .nav-tabs > li.open > a, .tabbable-line > div > .nav-tabs > li:hover > a {
        border: 0;
        background: none !important;
        color: #333; }
        .tabbable-line > .nav-tabs > li.open > a > i, .tabbable-line > .nav-tabs > li:hover > a > i,
        .tabbable-line > div > .nav-tabs > li.open > a > i, .tabbable-line > div > .nav-tabs > li:hover > a > i {
          color: #a6a6a6; }
      .tabbable-line > .nav-tabs > li.open .dropdown-menu, .tabbable-line > .nav-tabs > li:hover .dropdown-menu,
      .tabbable-line > div > .nav-tabs > li.open .dropdown-menu, .tabbable-line > div > .nav-tabs > li:hover .dropdown-menu {
        margin-top: 0px; }
/************** overwrite components.css table and tabs ************/
