/* here you can put your own css to customize and override the theme */

.page-header.navbar {
  /* Header logo */
  .page-logo {
    .logo-default {
      margin: 8px 0 0 0;
      height: 27px;
    }
  }
}

.search-content-3 {
  .search-body {
    .search-results {
      width: 100%;
      min-height: 390px;
      .row {
        margin-left: 0;
        margin-right: 0;
        .user-search-result {
          min-height: 380px;
        }
      }
    }
  }
  .tile-container > .tile-title {
    padding: 30px 20px;

    h3 {
      height: 41px;
    }
  }
}

.runtime-icon {
  width: 30%;
  max-width: 64px;
}

.table > tbody > tr > td.markdown-container {
  padding: 0;
  background-color: #eef1f5;
  div.markdown-wrapper {
    padding: 8px;
    border: 3px solid #FFF;
    div.markdown {

    }
  }
}

.login-form {
  h3 {
    span.subtitle {
      width: 100%;
      display: block;
    }
    .tenant-avatar {
      width: 75px;
      height: 75px;
      display: inline-block;
    }
  }
}

.schema-form-checkbox {
  label {
    input[type="checkbox"] {
      margin-left: 0;
    }
    span {
      margin-left: 20px;
    }
  }
}

.bootstrap-table {
  .fixed-table-header, .fixed-table-loading {
    display:none!important;
  }
  .fixed-table-toolbar > * {
    margin-bottom: 10px;
  }
}