<!-- BEGIN DROP AREA -->
<div ngf-drop="processAuthFile($files)"
     class="drop-box"
     ngf-drag-over-class="'dragover'"
     ngf-include-dir="true"
     ngf-multiple="false">
    <form class="login-form" ng-submit="submitForm()" method="post">
        <div id="form-title-header" class="form-group">
            <img class="tenant-avatar" ng-src="img/tenants/{{selectedTenant.code}}-thumb.png"/>
            <h3 class="form-title font-green">
                {{selectedTenant.name}}
                <span class="subtitle">Sign In</span>
            </h3>
        </div>
        <div id="alert-message" class="alert alert-danger display-hide">
            <button class="close" data-close="alert"></button>
            <span> Enter your {{selectedTenant.name}} username and password. </span>
        </div>
        <div class="form-group">
            <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
            <label class="control-label visible-ie8 visible-ie9">Username</label>
            <input class="form-control form-control-solid placeholder-no-fix" type="text" ng-model="user.username"
                   autocomplete="off" placeholder="Username" name="username"/></div>
        <div class="form-group">
            <label class="control-label visible-ie8 visible-ie9">Password</label>
            <input class="form-control form-control-solid placeholder-no-fix" type="password" ng-model="user.password"
                   autocomplete="off" placeholder="Password" name="password"/></div>

        <div ng-if="isDevEnvironment()" class="form-group">
            <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
            <label class="control-label visible-ie8 visible-ie9">Client Key</label>
            <input class="form-control placeholder-no-fix" ng-model="user.client_key" type="text"
                   placeholder="Client key" name="clientKey"/></div>
        <div ng-if="isDevEnvironment()" class="form-group">
            <label class="control-label visible-ie8 visible-ie9">Client Secret</label>
            <input class="form-control placeholder-no-fix" ng-model="user.client_secret" type="password"
                   placeholder="Client secret" name="clientSecret"/></div>

        <div class="form-actions">
            <button type="submit" class="btn green uppercase">Login</button>
            <label class="rememberme check mt-checkbox mt-checkbox-outline">
                <input type="checkbox" ng-model="remember" name="remember" value="1"/>Remember
                <span></span>
            </label>
            <a ng-if="selectedTenant.allowsSignup" ui-sref="forgot-password({'tenantId': selectedTenant.code})"
               id="forget-password" class="forget-password">Forgot Password?</a>
            <a ng-if="!selectedTenant.allowsSignup" href="{{selectedTenant.supportUrl}}" target="_blank"
               id="forget-password-external" class="forget-password">Forgot Password</a>

        </div>
        <div class="login-options">
            <h4>Or login with another organization</h4>
            <ul class="social-icons">
                <li ng-repeat="item in settings.tenants | filter:excludeSelectedTenant">
                    <a class="img-rounded {item.code}}" title="{{item.name}}" data-original-title="{item.code}}"
                       style="overflow:hidden;"
                       ng-click="setCurrentTenant(item)">
                        <img class="tenant-icon" style="" ng-src="img/tenants/{{item.code}}-thumb.png"/>
                    </a>
                </li>
            </ul>
        </div>
        <div class="create-account">
            <p>
                <a ng-if="selectedTenant.allowsSignup" ui-sref="signup-form({tenantId: selectedTenant.code})"
                   class="uppercase">Create an account</a>
                <a ng-if="!selectedTenant.allowsSignup" href="{{selectedTenant.signupUrl}}" target="_blank"
                   class="uppercase">Create an account</a>
            </p>
        </div>
    </form>
    <!-- END LOGIN FORM -->
</div> <!-- END DROP AREA -->