<form name="implicitFlow" class="login-form" ng-disabled="true" ng-submit="false" method="post">
    <div id="form-title-header" class="form-group">
        <img class="tenant-avatar" ng-src="img/tenants/{{selectedTenant.code}}-thumb.png"/>
        <h3 class="form-title font-green">
            {{selectedTenant.name}}
            <span class="subtitle">Sign In</span>
        </h3>
    </div>

    <div class="form-group text-center">
        <div class="row">
            <div class="col-xs-12 vcenter">
                <span class="input-group-btn">
                  <oauth
                          template="views/templates/oauth-ng-button.html"
                          site="selectedTenant.baseUrl"
                          client-id="settings.oauth.clients[selectedTenant.code].clientKey"
                          redirect-uri="{{settings.oauth.clients[selectedTenant.code].callbackUrl}}"
                          authorize-path="/authorize",
                          state="{{randomState()}}"
                          scope="{{settings.oauth.clients[selectedTenant.code].scope}}"
                          tenant="selectedTenant">
                  </oauth>
                </span>
            </div>
        </div>
    </div>
    <div class="login-options">
        <h4>Or login with another organization</h4>
        <ul class="social-icons">
            <li ng-repeat="item in settings.tenants | filter:excludeSelectedTenant(selectedTenant)">
                <a class="img-rounded {item.code}}" title="{{item.name}}" data-original-title="{item.code}}"
                   style="overflow:hidden;"
                   ui-sref="oauth({tenantId: item.code})">
                    <img class="tenant-icon" style="" ng-src="img/tenants/{{item.code}}-thumb.png"/>
                </a>
            </li>
        </ul>
    </div>
    <div class="create-account">
        <p>
            <a ng-if="selectedTenant.allowsSignup" ui-sref="signup-form({tenantId: selectedTenant.code})"
               class="uppercase">Create an account</a>
            <a ng-if="!selectedTenant.allowsSignup" href="{{selectedTenant.signupUrl}}" target="_blank"
               class="uppercase">Create an account</a>
        </p>
    </div>
</form>
<!-- END LOGIN FORM -->