<div class="lock-head"> Locked </div>
<div class="lock-body">
    <div class="pull-left lock-avatar-block">
        <img ng-src="http://www.gravatar.com/avatar/{{profile.email || gravitar}}?d=mm" class="lock-avatar"> </div>
    <form class="lock-form pull-left">
        <h4>{{profile.firstName + ' ' + profile.lastName}}</h4>
        <div class="form-group">
            <oauth
                    template="views/templates/oauth-ng-button.html"
                    site="tenant.baseUrl"
                    client-id="clientId"
                    client-id="settings.oauth.clients[tenant.code].clientKey"
                    redirect-uri="{{settings.oauth.clients[tenant.code].callbackUrl}}"
                    redirect-uri="http://localhost:9000/auth"
                    authorize-path="/authorize",
                    state="12345"
                    scope="PRODUCTION"
                    realm="tenant">
            </oauth>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn red uppercase">Login</button>
        </div>
    </form>
</div>
<div class="lock-bottom">
    <a href="">Not {{profile.firstName + ' ' + profile.lastName}}?</a>
</div>