<div class="page-body">
    <div class="lock-head"> Agave Platform Login </div>
    <div class="lock-body">
        <div class="message"></div>
        <div class="pull-left lock-avatar-block">
            <img ng-show="!displayTenant" src="/auth/img/tenants/agave.prod-thumb.png" class="lock-avatar">
            <img ng-show="displayTenant" ng-src="/auth/img/tenants/{{displayTenant.code}}-thumb.png" class="lock-avatar"> </div>
        <form class="lock-form pull-left" ng-submit="loadTenant()">
            <h4>Select Your Organization</h4>
            <div class="form-group">
                <ui-select ng-model="tenantSelected" on-select="updateTenant($item, $model)" theme="bootstrap" ng-disabled="disabled" title="Select a tenant">
                    <ui-select-match placeholder="Select your organization...">{{$select.selected.name}}</ui-select-match>
                    <ui-select-choices repeat="item.name as item in settings.tenants | filter: { name: $select.search, code: $select.search} ">
                        <div class="select2-result-repository clearfix">
                            <div class="select2-result-repository__avatar"><img ng-src="/auth/img/tenants/{{item.code}}-thumb.png" /></div>
                            <div class="select2-result-repository__meta">
                                <div class="select2-result-repository__title" ng-bind-html="item.name | highlight: $select.search"> {{item.name}}</div>
                                <div class="select2-result-repository__statistics">
                                    <div ng-if="item.projectUrl" class="select2-result-repository__forks">
                                        <a href="{{item.projectUrl}}">
                                            <span class="fa fa-globe"></span> website
                                        </a>
                                    </div>
                                    <div ng-if="item.projectUrl" class="select2-result-repository__forks">
                                        <a href="{{item.projectUrl}}">
                                            <span class="fa fa-support"></span> website
                                        </a>
                                    </div>
                                    <!--<div ng-if="item.domain" class="select2-result-repository__stargazers"><span ng-repeat="tag in item.tags track by $index" class="glyphicon glyphicon-{{tag | tagIcon}}" title="{{tag}}"></span> </div>-->

                                    <div class="select2-result-repository__watchers">
                                        <span class="fa fa-globe"></span> {{ item.code | tenantWebsite:item.baseUrl }}
                                    </div>
                                    <!--<div class="select2-result-repository__watchers">-->
                                        <!--<span class="fa fa-birthday-cake"></span> {{ item.created | amDateFormat: 'MMM YYYY'}}-->
                                    <!--</div>-->
                                </div>
                            </div>
                        </div>
                    </ui-select-choices>
                </ui-select>
            </div>
            <div class="form-actions">
                <button type="submit" class="btn red uppercase">Login</button>
            </div>
        </form>
    </div>
    <div class="lock-bottom">
        <a href="/auth/register" target="_blank">Don't have a tenant?</a>
    </div>
</div>