<!-- BEGIN PAGE HEADER-->
<div class="page-bar" ng-controller="FileUploadCtrl" >
    <ul class="page-breadcrumb">
        <li>
            <a href="#/dashboard">Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="#/data/explorer">Data</a>
        </li>
        <li>
            <a href="#/data/explorer">Explorer</a>
        </li>
    </ul>
    <div class="page-toolbar">
        <div class="btn-group pull-right">
            <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" dropdown-menu-hover data-delay="1000" data-close-others="true"> Actions
                <i class="fa fa-angle-down"></i>
            </button>
            <agaveSystemPicker
            <ul class="dropdown-menu pull-right" role="menu" ng-foreach="systems as system">
                <li>
                    <a ui-sref="data-explore({systemId: system.id, path: ''})">
                        <i class="icon-{{system.type}}"></i> {{system.name}} </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<h3 class="page-title"> File Browser</h3>
<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->
<div class="row" ng-controller="FileBrowserCtrl">
    <angular-filemanager></angular-filemanager>
</div>
<!-- END MAIN CONTENT -->

<!-- BEGIN MAIN JS -->
<!-- END MAIN JS -->