/* here you can put your own css to customize and override the theme */
.page-header.navbar {
  /* Header logo */ }
  .page-header.navbar .page-logo .logo-default {
    margin: 8px 0 0 0;
    height: 27px; }

.search-content-3 .search-body .search-results {
  width: 100%;
  min-height: 390px; }
  .search-content-3 .search-body .search-results .row {
    margin-left: 0;
    margin-right: 0; }
    .search-content-3 .search-body .search-results .row .user-search-result {
      min-height: 380px; }

.search-content-3 .tile-container > .tile-title {
  padding: 30px 20px; }
  .search-content-3 .tile-container > .tile-title h3 {
    height: 41px; }

.runtime-icon {
  width: 30%;
  max-width: 64px; }

.table > tbody > tr > td.markdown-container {
  padding: 0;
  background-color: #eef1f5; }
  .table > tbody > tr > td.markdown-container div.markdown-wrapper {
    padding: 8px;
    border: 3px solid #FFF; }

.login-form h3 span.subtitle {
  width: 100%;
  display: block; }

.login-form h3 .tenant-avatar {
  width: 75px;
  height: 75px;
  display: inline-block; }

.schema-form-checkbox label input[type="checkbox"] {
  margin-left: 0; }

.schema-form-checkbox label span {
  margin-left: 20px; }

.bootstrap-table .fixed-table-header, .bootstrap-table .fixed-table-loading {
  display: none !important; }

.bootstrap-table .fixed-table-toolbar > * {
  margin-bottom: 10px; }

.modal-body #agave-filemanager > .container, .modal-body #agave-filemanager > .browser-container {
  max-width: 100%; }

.ui-select-bootstrap .ui-select-choices {
  margin-top: 0;
  border: 1px solid #c2cad8;
  border-top-color: transparent; }
  .ui-select-bootstrap .ui-select-choices .ui-select-choices-row > span {
    color: #4d6b8a;
    padding: 6px 20px; }
  .ui-select-bootstrap .ui-select-choices .ui-select-choices-row.active > span {
    background-color: #36c6d3;
    color: #ffffff; }
#agave-filemanager .browser-container {
  max-width: 100%;
}