<div>
  <div class="row">
    <div class="col-xs-9">
      <div ng-if="meta">
        <json-formatter json="schema" open="1"></json-formatter>
      </div>
      <div ng-if="!meta">
        No metadata found
      </div>
    </div>
    <div class="col-xs-3">
      <div class="btn-group" ng-if="meta">
          <a class="btn red btn-outline" href="#" data-toggle="dropdown">
              Actions
              <i class="fa fa-angle-down"></i>
          </a>
          <ul class="dropdown-menu pull-right">
            <li>
              <a ui-sref="meta-edit({uuid: meta.uuid})" role="button"> <i class="fa fa-pencil"></i> Edit</a>
            </li>
            <li>
                <a ng-click="confirmAction('metas', meta, 'delete', metas, $index)" > <i class="fa fa-trash-o"></i> Delete</a>
            </li>
          </ul>
      </div>
    </div>
  </div>
</div>
