<div>
  <div class="row text-center" ng-show="requesting">
     <div class="col-md-12">
        <div class="loading-message">
           <div class="block-spinner-bar">
              <div class="bounce1"></div>
              <div class="bounce2"></div>
              <div class="bounce3"></div>
           </div>
        </div>
     </div>
  </div>
  <div class="row">
    <div class="col-xs-9">
      <div ng-if="schema && !requesting">
        <json-formatter json="schema" open="1"></json-formatter>
      </div>
      <div ng-if="!schema">
        No schema found
      </div>
    </div>
    <div class="col-xs-3">
      <div class="btn-group">
        <a class="btn red btn-outline" href="#" data-toggle="dropdown">
            Actions
            <i class="fa fa-angle-down"></i>
        </a>
        <ul class="dropdown-menu pull-right">
          <li>
            <a ui-sref="meta-schema-edit({uuid: schema.uuid})" role="button"> <i class="fa fa-pencil"></i> Edit</a>
          </li>
          <li>
              <a ng-click="confirmAction('schemas', schema, 'delete', schemas, $index)" > <i class="fa fa-trash-o"></i> Delete</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
