<!-- BEGIN PAGE BAR -->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="index.html">Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="#">Apps</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>Catalog</span>
        </li>
    </ul>
    <div class="page-toolbar">
        <div class="btn-group pull-right">
            <button type="button" class="btn green btn-sm btn-outline dropdown-toggle" data-toggle="dropdown"> Actions
                <i class="fa fa-angle-down"></i>
            </button>
            <ul class="dropdown-menu pull-right" role="menu">
                <li>
                    <a ng-click="addApp();">
                        <i class="fa fa-plus"></i> Add</a>
                </li>
                <li class="divider"> </li>
                <li>
                    <a href="https://agaveapi.atlassian.net/desk/feedback/apps">
                        <i class="fa fa-support"></i> Request</a>
                </li>
                <li>
                    <a href="https://agaveapi.atlassian.net/desk/help/apps">
                        <i class="fa fa-warning"></i> Report</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END PAGE BAR -->
<!-- BEGIN PAGE TITLE-->
<h3 class="page-title"> App Catalog
    <small>A collection of ready-to-use apps provided by the user community</small>
</h3>
<!-- END PAGE TITLE-->
<!-- END PAGE HEADER-->
<div class="portfolio-content portfolio-3">
    <div class="clearfix">
        <div id="js-filters-lightbox-gallery1" class="cbp-l-filters-dropdown cbp-l-filters-dropdown-floated">
            <div class="cbp-l-filters-dropdownWrap border-grey-salsa">
                <div class="cbp-l-filters-dropdownHeader uppercase">Sort Gallery</div>
                <div class="cbp-l-filters-dropdownList">
                    <div data-filter="*" class="cbp-filter-item-active cbp-filter-item uppercase"> All (
                        <div class="cbp-filter-counter"></div> items) </div>
                    <div data-filter=".public" class="cbp-filter-item uppercase"> Identity (
                        <div class="cbp-filter-counter"></div> items) </div>
                    <div data-filter=".private" class="cbp-filter-item uppercase"> Web Design (
                        <div class="cbp-filter-counter"></div> items) </div>

                </div>
            </div>
        </div>
        <div id="js-filters-lightbox-gallery2" class="cbp-l-filters-button cbp-l-filters-left">
            <div data-filter="*" class="cbp-filter-item-active cbp-filter-item btn blue btn-outline uppercase">All</div>
            <div data-filter=".hpc" class="cbp-filter-item btn blue btn-outline uppercase">HPC</div>
            <div data-filter=".cli" class="cbp-filter-item btn blue btn-outline uppercase">CLI</div>
            <div data-filter=".docker" class="cbp-filter-item btn blue btn-outline uppercase">Docker</div>
            <div data-filter=".condor" class="cbp-filter-item btn blue btn-outline uppercase">Condor</div>
        </div>
    </div>
    <div id="js-grid-lightbox-gallery" class="cbp">
        <div ng-repeat="app in apps" class="cbp-item {{app.executionType}} {{app.isPublic ? 'public' : 'private'}}">
            <a href="{{app.id}}" class="cbp-caption cbp-singlePageInline" data-title="{{app.name}} v{{app.version}}<br>{{app.label}}" rel="nofollow">
                <div class="cbp-caption-defaultWrap">
                    <img ng-src="{{ app.icon | appImage }}" alt=""> </div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignLeft">
                        <div class="cbp-l-caption-body">
                            <div class="cbp-l-caption-title">{{app.name}} version {{app.version}}</div>
                            <div class="cbp-l-caption-desc">{{app.shortDescription}}</div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <!--<div class="cbp-item web-design graphic print motion">-->
            <!--<a href="../assets/global/plugins/cubeportfolio/ajax/project3.html" class="cbp-caption cbp-singlePageInline" data-title="World Clock Widget<br>by Paul Flavius Nechita" rel="nofollow">-->
                <!--<div class="cbp-caption-defaultWrap">-->
                    <!--<img src="../assets/global/img/portfolio/600x600/01.jpg" alt=""> </div>-->
                <!--<div class="cbp-caption-activeWrap">-->
                    <!--<div class="cbp-l-caption-alignLeft">-->
                        <!--<div class="cbp-l-caption-body">-->
                            <!--<div class="cbp-l-caption-title">World Clock Widget</div>-->
                            <!--<div class="cbp-l-caption-desc">by Paul Flavius Nechita</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</a>-->
        <!--</div>-->
        <!--<div class="cbp-item web-design logos identity graphic">-->
            <!--<a href="../assets/global/plugins/cubeportfolio/ajax/project4.html" class="cbp-caption cbp-singlePageInline" data-title="Bolt UI<br>by Tiberiu Neamu" rel="nofollow">-->
                <!--<div class="cbp-caption-defaultWrap">-->
                    <!--<img src="../assets/global/img/portfolio/600x600/1.jpg" alt=""> </div>-->
                <!--<div class="cbp-caption-activeWrap">-->
                    <!--<div class="cbp-l-caption-alignLeft">-->
                        <!--<div class="cbp-l-caption-body">-->
                            <!--<div class="cbp-l-caption-title">Bolt UI</div>-->
                            <!--<div class="cbp-l-caption-desc">by Tiberiu Neamu</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</a>-->
        <!--</div>-->
        <!--<div class="cbp-item graphic print identity">-->
            <!--<a href="../assets/global/plugins/cubeportfolio/ajax/project3.html" class="cbp-caption cbp-singlePageInline" data-title="WhereTO App<br>by Tiberiu Neamu" rel="nofollow">-->
                <!--<div class="cbp-caption-defaultWrap">-->
                    <!--<img src="../assets/global/img/portfolio/600x600/02.jpg" alt=""> </div>-->
                <!--<div class="cbp-caption-activeWrap">-->
                    <!--<div class="cbp-l-caption-alignLeft">-->
                        <!--<div class="cbp-l-caption-body">-->
                            <!--<div class="cbp-l-caption-title">WhereTO App</div>-->
                            <!--<div class="cbp-l-caption-desc">by Tiberiu Neamu</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</a>-->
        <!--</div>-->
        <!--<div class="cbp-item web-design motion logos">-->
            <!--<a href="../assets/global/plugins/cubeportfolio/ajax/project4.html" class="cbp-caption cbp-singlePageInline" data-title="iDevices<br>by Tiberiu Neamu" rel="nofollow">-->
                <!--<div class="cbp-caption-defaultWrap">-->
                    <!--<img src="../assets/global/img/portfolio/600x600/2.jpg" alt=""> </div>-->
                <!--<div class="cbp-caption-activeWrap">-->
                    <!--<div class="cbp-l-caption-alignLeft">-->
                        <!--<div class="cbp-l-caption-body">-->
                            <!--<div class="cbp-l-caption-title">iDevices</div>-->
                            <!--<div class="cbp-l-caption-desc">by Tiberiu Neamu</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</a>-->
        <!--</div>-->
        <!--<div class="cbp-item identity graphic print">-->
            <!--<a href="../assets/global/plugins/cubeportfolio/ajax/project3.html" class="cbp-caption cbp-singlePageInline" data-title="Seemple* Music for iPad<br>by Tiberiu Neamu" rel="nofollow">-->
                <!--<div class="cbp-caption-defaultWrap">-->
                    <!--<img src="../assets/global/img/portfolio/600x600/03.jpg" alt=""> </div>-->
                <!--<div class="cbp-caption-activeWrap">-->
                    <!--<div class="cbp-l-caption-alignLeft">-->
                        <!--<div class="cbp-l-caption-body">-->
                            <!--<div class="cbp-l-caption-title">Seemple* Music for iPad</div>-->
                            <!--<div class="cbp-l-caption-desc">by Tiberiu Neamu</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</a>-->
        <!--</div>-->
        <!--<div class="cbp-item motion print logos web-design">-->
            <!--<a href="../assets/global/plugins/cubeportfolio/ajax/project4.html" class="cbp-caption cbp-singlePageInline" data-title="Remind~Me Widget<br>by Tiberiu Neamu" rel="nofollow">-->
                <!--<div class="cbp-caption-defaultWrap">-->
                    <!--<img src="../assets/global/img/portfolio/600x600/3.jpg" alt=""> </div>-->
                <!--<div class="cbp-caption-activeWrap">-->
                    <!--<div class="cbp-l-caption-alignLeft">-->
                        <!--<div class="cbp-l-caption-body">-->
                            <!--<div class="cbp-l-caption-title">Remind~Me Widget</div>-->
                            <!--<div class="cbp-l-caption-desc">by Tiberiu Neamu</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</a>-->
        <!--</div>-->
        <!--<div ng-foreach="apps as app" class="cbp-item {{app.executionType}} {{app.publicyAvailable ? 'public' : 'private'}}">-->
            <!--<a href="../assets/global/plugins/cubeportfolio/ajax/project3.html" class="cbp-caption cbp-singlePageInline" data-title="{{app.name}} version {{app.version}}<br>{{app.label}}" rel="nofollow">-->
                <!--<div class="cbp-caption-defaultWrap">-->
                    <!--<img ng-src="{{ app.icon ? app.icon : '../assets/global/img/portfolio/600x600/04.jpg'}}" alt=""> </div>-->
                <!--<div class="cbp-caption-activeWrap">-->
                    <!--<div class="cbp-l-caption-alignLeft">-->
                        <!--<div class="cbp-l-caption-body">-->
                            <!--<div class="cbp-l-caption-title">{{app.name}} version {{app.version}}</div>-->
                            <!--<div class="cbp-l-caption-desc">{{app.label}}</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</a>-->
        <!--</div>-->
        <!--<div class="cbp-item identity print logos motion">-->
            <!--<a href="../assets/global/plugins/cubeportfolio/ajax/project4.html" class="cbp-caption cbp-singlePageInline" data-title="Digital Menu<br>by Cosmin Capitanu" rel="nofollow">-->
                <!--<div class="cbp-caption-defaultWrap">-->
                    <!--<img src="../assets/global/img/portfolio/600x600/4.jpg" alt=""> </div>-->
                <!--<div class="cbp-caption-activeWrap">-->
                    <!--<div class="cbp-l-caption-alignLeft">-->
                        <!--<div class="cbp-l-caption-body">-->
                            <!--<div class="cbp-l-caption-title">Digital Menu</div>-->
                            <!--<div class="cbp-l-caption-desc">by Cosmin Capitanu</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</a>-->
        <!--</div>-->
        <!--<div class="cbp-item identity motion web-design">-->
            <!--<a href="../assets/global/plugins/cubeportfolio/ajax/project3.html" class="cbp-caption cbp-singlePageInline" data-title="Holiday Selector<br>by Cosmin Capitanu" rel="nofollow">-->
                <!--<div class="cbp-caption-defaultWrap">-->
                    <!--<img src="../assets/global/img/portfolio/600x600/05.jpg" alt=""> </div>-->
                <!--<div class="cbp-caption-activeWrap">-->
                    <!--<div class="cbp-l-caption-alignLeft">-->
                        <!--<div class="cbp-l-caption-body">-->
                            <!--<div class="cbp-l-caption-title">Holiday Selector</div>-->
                            <!--<div class="cbp-l-caption-desc">by Cosmin Capitanu</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</a>-->
        <!--</div>-->
    </div>
    <div id="js-loadMore-lightbox-gallery" class="cbp-l-loadMore-button">
        <a href="../assets/global/plugins/cubeportfolio/ajax/loadMore3.html" class="cbp-l-loadMore-link btn grey-mint btn-outline" rel="nofollow">
            <span class="cbp-l-loadMore-defaultText">LOAD MORE</span>
            <span class="cbp-l-loadMore-loadingText">LOADING...</span>
            <span class="cbp-l-loadMore-noMoreLoading">NO MORE WORKS</span>
        </a>
    </div>
</div>