<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="#/dashboard.html">Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="#/apps">Apps</a>
        </li>
        <li>
            <a href="#/apps/manager">Manager</a>
        </li>
    </ul>
    <div landing-start-menu></div>
</div>
<h3 class="page-title"> Application Managmenet
    <small>Manage your private collection of apps</small>
</h3>
<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->
<div class="row">
    <div class="col-md-12">
        <!-- Begin: life time stats -->
        <div class="portlet light portlet-fit portlet-datatable bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-code"></i> Application Management </div>
                <div class="actions">
                    <a ui-sref="apps-new()" class="btn btn-outline green" data-target="#add-edit-modal" role="button" data-toggle="modal">
                        <i class="fa fa-plus"></i>
                        <span class="hidden-480"> New App </span>
                    </a>
                    <div class="btn-group">
                        <a class="btn red btn-outline" href="#" data-toggle="dropdown">
                            <i class="fa fa-share"></i>
                            <span class="hidden-480"> Actions </span>
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li>
                                <a href="#"> Clone </a>
                            </li>
                            <li>
                                <a href="#"> Enable </a>
                            </li>
                            <li>
                                <a href="#"> Disable </a>
                            </li>
                            <li>
                                <a href="#"> Delete </a>
                            </li>
                            <li class="divider"> </li>
                            <li>
                                <a href="#"> Publish </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-container">
                    <!-- <table class="table table-striped table-bordered table-hover management" width="100%" id="datatable_collection"> -->
                    <table class="table table-responsive table-striped table-bordered table-hover management" width="100%" id="datatable_collection">
                        <thead>
                            <tr role="row" class="heading">
                                <th> ID</th>
                                <th data-class-name="extended"> Name</th>
                                <th data-class-name="extended"> Created</th>
                                <th data-class-name="extended"> Version</th>
                                <th data-class-name="extended"> Label</th>
                                <th> Short Description</th>
                                <th> Exe. System</th>
                                <th> Public</th>
                                <th data-class-name="extended"> Revision</th>
                                <th> Available</th>
                                <th> Last Modified</th>
                                <th> Actions </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="app in apps">
                                <td>
                                    <a ui-sref="apps({appId: app.id})"> {{app.id}} </a>
                                </td>
                                <td>
                                    <a ui-sref="apps({appId: app.id})"> {{app.name}} </a>
                                </td>
                                <td data-class-name="extended">
                                    <span class="date">{{ app.created | amDateFormat:'dddd, MMMM Do YYYY' }}</span>
                                </td>
                                <td>
                                    {{app.version}}
                                </td>
                                <td>
                                    {{app.label}}
                                </td>
                                <td>
                                    {{app.shortDescription}}
                                </td>
                                <td>
                                    <!-- <a ui-sref="system({systemId: app.executionSystem})">{{ getSystemName(app.executionSystem) }}</a> -->
                                    <a href="#/systems/{{app.executionSystem}}">{{app.executionSystem}}</a>
                                </td>
                                <td>
                                    {{app.isPublic}}
                                </td>
                                <td>
                                    {{app.revision}}
                                </td>
                                <td data-class-name="extended">
                                    {{app.available}}
                                </td>
                                <td>
                                    <span am-time-ago="app.lastModified" class="date"></span>
                                </td>
                                <td>
                                    <div class="btn-group">
                                        <a class="btn red btn-outline" href="#" data-toggle="dropdown">
                                            Actions
                                            <i class="fa fa-angle-down"></i>
                                        </a>
                                        <ul class="dropdown-menu pull-right">
                                            <li ng-if="!app.available">
                                                <a ng-click="confirmAction(app, 'enable', $index)" role="button"> <i class="fa fa-check"></i> Enable </a>
                                            </li>
                                            <li ng-if="app.available">
                                                <a ng-click="confirmAction(app, 'disable', $index)" role="button"> <i class="fa fa-remove"></i> Disable </a>
                                            </li>
                                            <li>
                                                <a ng-click="confirmAction(app, 'delete', $index)" role="button"> <i class="fa fa-trash-o"></i> Delete </a>
                                            </li>
                                            <li class="divider"> </li>
                                            <li>
                                                <a ng-click="clone(app)" role="button"> <i class="fa fa-code-fork"></i> Clone </a>
                                            </li>
                                            <li>
                                                <a ng-click="publish(app)" role="button"> <i class="fa fa-eye"></i> Publish </a>
                                            </li>
                                            <li>
                                                <a ng-click="openPermissionEditor(app)" role="button"> <i class="fa fa-share-alt"></i> Share </a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- End: life time stats -->
    </div>
</div>
<!-- END MAIN CONTENT -->
