<!-- BEGIN PAGE BASE CONTENT -->
<div class="row">
    <div class="col-md-12">
        <div class="portlet light bordered" id="form_wizard_1">
            <div class="portlet-title">
                <div class="caption">
                    <i class=" icon-layers font-red"></i>
               <span class="caption-subject font-red bold uppercase">
               </span>
                </div>
                <div class="actions">
                    <a class="btn btn-transparent btn-icon-only btn-grey-salsa" href="javascript:;">
                        <i class="fa fa-code" title="View JSON description"></i>
                    </a>
                    <a class="btn btn-transparent btn-icon-only btn-grey-salsa" href="javascript:;">
                        <i class="fa fa-list"></i>
                    </a>
                    <a class="btn btn-icon-only btn-default" href="javascript:;">
                        <i class="fa fa-question"></i>
                    </a>
                </div>
            </div>
            <div class="portlet-body form">
                <form id="dynamic-schema-form">
                    <div sf-schema="schema" sf-form="form" sf-model="model"></div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- END PAGE BASE CONTENT -->