<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="#/dashboard.html">Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="#/systems">Systems</a>
        </li>
        <li>
            <a href="#/systems">Manager</a>
        </li>
    </ul>
    <div landing-start-menu></div>
</div>
<h3 class="page-title"> Systems
    <small>Manage your private collection of systems</small>
</h3>
<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->
<div class="row">
    <div class="col-md-12">
        <!-- Begin: life time stats -->
        <div class="portlet light portlet-fit portlet-datatable bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-server"></i> System Management </div>
                <div class="actions">
                    <a href="#/systems/new" class="btn btn-outline green" data-target="#add-edit-modal" role="button" data-toggle="modal">
                        <i class="fa fa-plus"></i>
                        <span class="hidden-480"> New System </span>
                    </a>
                    <div class="btn-group">
                        <a class="btn red btn-outline" href="#" data-toggle="dropdown">
                            <span class="hidden-480"> Bulk Actions</span>
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li>
                                <a href="#"> Clone </a>
                            </li>
                            <li>
                                <a href="#"> Enable </a>
                            </li>
                            <li>
                                <a href="#"> Disable </a>
                            </li>
                            <li>
                                <a href="#"> Delete </a>
                            </li>
                            <li ng-if="!res.public">
                                <a href="#" class="system-confirmation-action" ng-click="confirmAction(res, systemActions.PUBLISH)" > <i class="fa fa-eye"></i> Publish </a>
                            </li>
                            <li ng-if="res.public">
                                <a href="#" class="system-confirmation-action" ng-click="confirmAction(res, systemActions.UNPUBLISH)" > <i class="fa fa-eye"></i> Publish </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-container">
                    <table class="table table-striped table-bordered table-hover management" id="datatable_collection">
                        <thead>
                            <tr role="row" class="heading">
                                <th width="2%">
                                    <input type="checkbox" class="group-checkable"> </th>
                                <th width="10%"> ID</th>
                                <th width="13%"> Name</th>
                                <th width="10%"> Type</th>
                                <th width="5%"> Status</th>
                                <th width="50%"> Description</th>
                                <th width="5%"> Default</th>
                                <th width="5%"> Public</th>
                                <th width="10%"> Actions </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="res in systems">
                                <td>
                                    <div class="checker">
                                        <span>
                                            <input type="checkbox" name="id[]" value="{{res.id}}">
                                        </span>
                                    </div>
                                </td>
                                <td data-class-name="extended">
                                    <a ui-sref="systems-edit({systemId: res.id})"> {{res.id}} </a>
                                </td>
                                <td>
                                    <a ui-sref="systems-edit({systemId: res.id})"> {{res.name}} </a>
                                </td>
                                <td>
                                    {{res.type}}
                                </td>
                                <td>
                                    {{res.status}}
                                </td>
                                <td>
                                    {{res.description}}
                                </td>
                                <td>
                                    {{res.default}}
                                </td>
                                <td>
                                    {{res.public}}
                                </td>
                                <td>
                                    <div class="btn-group">
                                        <a class="btn red btn-outline" href="#" data-toggle="dropdown">
                                            Actions
                                            <i class="fa fa-angle-down"></i>
                                        </a>
                                        <ul class="dropdown-menu pull-right">
                                            <li>
                                                <a ui-sref="data-browser({systemId: res.id})" role="button"> <i class="fa fa-folder-open-o"></i> Browse </a>
                                            </li>
                                            <li>
                                                <a ng-click="editMetadata(res.id)" data-target="#metadata-modal"> <i class="fa fa-sticky-note-o"></i> Metadata </a>
                                            </li>
                                            <li>
                                                <a ng-click="editTags(res)"> <i class="fa fa-tags"></i> Tags </a>
                                            </li>
                                            <li class="divider"> </li>
                                            <li>
                                                <a ng-click="editRoles(res)" data-target="#share-modal" role="button" data-toggle="modal"> <i class="fa fa-share-alt"></i> Share </a>
                                            </li>
                                            <li>
                                                <a ng-click="editNotifications(res.id)" data-target="#notifications-modal" role="button" data-toggle="modal"> <i class="icon-webhooks"></i> Notifications </a>
                                            </li>
                                            <li class="divider"> </li>
                                            <li ng-if="!res.available">
                                                <a href="#" class="system-confirmation-action" ng-click="confirmAction(res, systemActions.ENABLE)" > <i class="fa fa-check"></i> Enable </a>
                                            </li>
                                            <li ng-if="res.available">
                                                <a href="#"  class="system-confirmation-action" ng-click="confirmAction(res, systemActions.DISABLE)" > <i class="fa fa-remove"></i> Disable </a>
                                            </li>
                                            <li>
                                                <a href="#" class="system-confirmation-action" ng-click="confirmDelete(res)" > <i class="fa fa-trash-o"></i> Delete </a>
                                            </li>
                                            <li class="divider"> </li>
                                            <li>
                                                <a href="#" data-target="#clone-modal" > <i class="fa fa-code-fork"></i> Clone </a>
                                            </li>
                                            <li ng-if="!res.public">
                                                <a href="#" class="system-confirmation-action" ng-click="confirmAction(res.id,res.name,systemActions.PUBLISH)"> <i class="fa fa-eye"></i> Publish </a>
                                            </li>
                                            <li ng-if="res.public">
                                                <a href="#" class="system-confirmation-action" ng-click="confirmAction(res.id,res.name,systemActions.UNPUBLISH);" > <i class="fa fa-eye-slash"></i> Unpublish </a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <tags-modal id="tagging-modal" ng-model="modalResource.id" ng-resource-name="modalResource.name" role="dialog" aria-hidden="true"></tags-modal>
            <quickshare-role-modal id="quickshare-role-modal" ng-model="modalResource" role="dialog" aria-hidden="true"></quickshare-role-modal>
            <!--<notification-modal id="notification-modal" class="modal fade" ng-system-id="modalTaggedResourceUuid" role="dialog" aria-hidden="true"></notification-modal>-->
            <!--<metadata-modal id="metadata-modal" class="modal fade" ng-system-id="modalTaggedResourceUuid" role="dialog" aria-hidden="true"></metadata-modal>-->
            <!--<system-publish-modal id="system-publish-modal" class="modal fade" ng-system-id="modalTaggedResourceUuid" role="dialog" aria-hidden="true"></system-publish-modal>-->
            <!--<system-clone-modal id="system-clone-modal" class="modal fade" ng-system-id="modalTaggedResourceUuid" role="dialog" aria-hidden="true"></system-clone-modal>-->

        </div>
        <!-- End: life time stats -->
    </div>
</div>
<!-- END MAIN CONTENT -->
