<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="#/dashboard.html">Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="#">Dashboard</a>
        </li>
    </ul>
    <div landing-start-menu></div>
</div>
<h3 class="page-title"> Dashboard </h3>
<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->
<div ng-controller="DashboardController">
    <div class="note note-info">
        <h3>Introducing the new Agave ToGo!
            <span class="close" data-close="note"></span>
        </h3>
        <p> Agave ToGo v2 is a full-featured web application designed to show off core functionality you are familiar with in
            the Agave Platform as well as demonstrate some of the advanced use cases which are possible leveraging
            the core Agave Core Science APIs.</p><br>
        <p> This application is meant to serve as a reference from which you can build your own application. Feel free to
            fork this repository and edit as needed. To contribute back enhancement and bug fixes, please fork the repository
            and submit a pull request.</p>
    </div>
    <!-- BEGIN DASHBOARD STATS -->
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="dashboard-stat blue">
                <div class="visual">
                    <i class="fa fa-rocket"></i>
                </div>
                <div class="details">
                    <div class="number"> {{jobCount}} </div>
                    <div class="desc"> Jobs </div>
                </div>
                <a class="more" href="#/jobs"> View more
                    <i class="m-icon-swapright m-icon-white"></i>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="dashboard-stat red">
                <div class="visual">
                    <i class="fa fa-exchange"></i>
                </div>
                <div class="details">
                    <div class="number"> 12,5TB </div>
                    <div class="desc"> Data Moved </div>
                </div>
                <a class="more" href="#/transfers"> View more
                    <i class="m-icon-swapright m-icon-white"></i>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="dashboard-stat green">
                <div class="visual">
                    <i class="fa fa-code"></i>
                </div>
                <div class="details">
                    <div class="number"> {{appCount}} </div>
                    <div class="desc"> Apps </div>
                </div>
                <a class="more" href="#/apps"> View more
                    <i class="m-icon-swapright m-icon-white"></i>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="dashboard-stat purple">
                <div class="visual">
                    <i class="fa fa-globe"></i>
                </div>
                <div class="details">
                    <div class="number"> +25% </div>
                    <div class="desc"> Activity Increase </div>
                </div>
                <a class="more" href="#/usage"> View more
                    <i class="m-icon-swapright m-icon-white"></i>
                </a>
            </div>
        </div>
    </div>
    <!-- END DASHBOARD STATS -->
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <!-- BEGIN PORTLET-->
            <div class="portlet light bordered ">
                <div class="portlet-title">
                    <div class="caption caption-md">
                        <i class="icon-bar-chart font-red"></i>
                        <span class="caption-subject font-red bold uppercase">Project Activity</span>
                        <span class="caption-helper hide">{{projectStatsTimeframe}} stats...</span>
                    </div>
                    <div class="actions">
                        <div class="btn-group btn-group-devided" data-toggle="buttons">
                            <label class="btn green btn-outline btn-circle btn-sm active" uib-btn-radio="'daily'" ng-model="projectStatsTimeframe">Today</label>
                            <label class="btn red btn-outline btn-circle btn-sm"uib-btn-radio="'weekly'" ng-model="projectStatsTimeframe">Week</label>
                            <label class="btn blue btn-outline btn-circle btn-sm"uib-btn-radio="'monthly'" ng-model="projectStatsTimeframe">Month</label>
                        </div>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="row number-stats margin-bottom-30">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="stat-left">
                                <div class="stat-chart">
                                    <!-- do not line break "sparkline_bar" div. sparkline chart has an issue when the container div has line break -->
                                    <div id="project_sparkline_total"></div>
                                </div>
                                <div class="stat-number">
                                    <div class="title"> Total </div>
                                    <div class="number"> {{ projectLeaders.alltime.totals.users }} </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="stat-right">
                                <div class="stat-chart">
                                    <!-- do not line break "sparkline_bar" div. sparkline chart has an issue when the container div has line break -->
                                    <div ng-show="projectStatsTimeframe == 'daily'" id="project_sparkline_day"></div>
                                    <div ng-show="projectStatsTimeframe == 'weekly'" id="project_sparkline_week"></div>
                                    <div ng-show="projectStatsTimeframe == 'monthly'" id="project_sparkline_month"></div>
                                </div>
                                <div class="stat-number">
                                    <div class="title"> New </div>
                                    <div class="number"> {{projectLeaders[projectStatsTimeframe].totals.users}} </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table-scrollable table-scrollable-borderless">
                        <table class="table table-hover table-light">
                            <thead>
                                <tr class="uppercase">
                                    <th colspan="2"> TOP USERS </th>
                                    <th> COMMENTS </th>
                                    <th> JOBS </th>
                                    <th> DOCS </th>
                                    <th> QUOTA </th>
                                </tr>
                            </thead>
                            <tr ng-repeat="n in [] | range:4">
                                <td class="fit">
                                    <img class="user-pic rounded" ng-src="{{ projectLeaders[projectStatsTimeframe].leaders[n].img }}"> </td>
                                <td>
                                    <a href="javascript:;" class="primary-link">{{ projectLeaders[projectStatsTimeframe].leaders[n].firstName }}</a>
                                </td>
                                <td> {{ projectLeaders[projectStatsTimeframe].leaders[n].comments }} </td>
                                <td> {{ projectLeaders[projectStatsTimeframe].leaders[n].jobs }} </td>
                                <td> {{ projectLeaders[projectStatsTimeframe].leaders[n].documents }} </td>
                                <td>
                                    <span class="bold font-green">{{ projectLeaders[projectStatsTimeframe].leaders[n].karma }}%</span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <!-- END PORTLET-->
        </div>
        <div class="col-md-6 col-sm-12">
            <!-- BEGIN PORTLET-->
            <div class="portlet light bordered">
                <div class="portlet-title tabbable-line">
                    <div class="caption caption-md">
                        <i class="icon-globe font-green hide"></i>
                        <span class="caption-subject font-green bold uppercase">Activity Feeds</span>
                    </div>
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#" data-target="#tab_1_1" data-toggle="tab"> Jobs </a>
                        </li>
                        <li>
                            <a href="#" data-target="#tab_1_2" data-toggle="tab"> Systems </a>
                        </li>
                        <li>
                            <a href="#" data-target="#tab_1_3" data-toggle="tab"> Users </a>
                        </li>
                    </ul>
                </div>
                <div class="portlet-body">
                    <!--BEGIN TABS-->
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_1_1">
                            <div class="scroller" style="height: 306px;" data-always-visible="1" data-rail-visible1="0" data-handle-color="#D7DCE2">
                                <ul class="feeds">
                                    <li ng-repeat="job in jobListing track by $index">
                                        <div class="col1">
                                            <div class="cont">
                                                <div class="cont-col1">
                                                    <div class="label label-sm label-success">
                                                        <i class="fa fa-{{ job.status | jobStatusIcon }}"></i>
                                                    </div>
                                                </div>
                                                <div class="cont-col2">
                                                    <div class="desc"> {{ job.name | excerpt }}
                                                        <span ng-if="job.status === 'FINISHED'" class="label label-sm label-info">
                                                            <a ui-sref="jobs({id: job.id})">
                                                                View output
                                                                <i class="fa fa-share"></i>
                                                            </a>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col2">
                                            <div class="date" am-time-ago="job.created"></div>
                                        </div>
				                            </li>
                                </ul>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab_1_2">
                            <div class="scroller" style="height: 306px;" data-always-visible="1" data-rail-visible1="0" data-handle-color="#D7DCE2">
                                <ul class="feeds">
                                    <li ng-repeat="system in systems">
                                        <div class="col1">
                                            <div class="cont">
                                                <div class="cont-col1">
                                                    <div class="label label-sm label-success">
                                                        <i class="fa {{ system | systemStatusIcon }}"></i>
                                                    </div>
                                                </div>
                                                <div class="cont-col2">
                                                    <div class="desc"> {{ system.name | excerpt }}</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col2">
                                            <div class="date" am-time-ago="system.created"></div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab_1_3">
                            <div class="scroller" style="height: 337px;" data-always-visible="1" data-rail-visible1="0" data-handle-color="#D7DCE2">
                                <ul class="feeds">
                                    <li ng-repeat="fakeUser in fakeUsers">
                                        <a ui-sref="#/profiles/{{fakeUser.username}}">
                                            <div class="col1">
                                                <div class="cont">
                                                    <div class="cont-col1">
                                                        <div class="label label-sm label-success">
                                                            <i class="fa fa-bell-o"></i>
                                                        </div>
                                                    </div>
                                                    <div class="cont-col2">
                                                        <div class="desc"> New user {{ fakeUser.name }} registered </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col2">
                                                <div class="date" am-time-ago="fakeUser.created"></div>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                    <!--END TABS-->
                </div>
            </div>
            <!-- END PORTLET-->
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-6">
            <!-- BEGIN REGIONAL STATS PORTLET-->
            <div class="portlet light bordered ">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-share font-green"></i>
                        <span class="caption-subject font-green bold uppercase">System Monitors</span>
                    </div>
                    <div class="actions">
                        <div class="btn-group">
                            <a class="btn btn-sm btn-default btn-circle" href="#" data-toggle="dropdown" dropdown-menu-hover data-close-others="true"> Filter By
                                <i class="fa fa-angle-down"></i>
                            </a>
                            <div class="dropdown-menu hold-on-click dropdown-checkboxes pull-right">
                                <label>mo
                                    <input type="checkbox" checked="" /> Passed</label>
                                <label>
                                    <input type="checkbox" checked="" /> Failed</label>
                                <label>
                                    <input type="checkbox" /> Maintenance</label>

                            </div>
                        </div>
                        <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="#"> </a>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="scroller" style="height: 300px;" data-always-visible="1" data-rail-visible="0">
                        <ul class="feeds">
                            <li ng-repeat="monitor in monitors">
                                <div class="col1">
                                    <div class="cont">
                                        <div class="cont-col1">
                                            <div class="label label-sm {{ monitor.lastSuccess === monitor.lastUpdated ? 'label-default' : 'label-danger' }}">
                                                <i class="fa {{ monitor.lastSuccess === monitor.lastUpdated ? 'fa-check' : 'fa-close' }}"></i>
                                            </div>
                                        </div>
                                        <div class="cont-col2">
                                            <div class="desc"> <a ui-sref="monitors-manager({systemId: monitor.target })">{{monitor.target}}</a>
                                                <span ng-if="monitor.lastSuccess !== monitor.lastUpdated" class="label label-sm label-danger "> Take action
                                                    <i class="fa fa-share"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col2">
                                    <div class="date" am-time-ago="monitor.lastUpdated"></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!--<div class="scroller-footer">-->
                        <!--<div class="btn-arrow-link pull-right">-->
                            <!--<a href="#">See All Records</a>-->
                            <!--<i class="icon-arrow-right"></i>-->
                        <!--</div>-->
                    <!--</div>-->
                </div>
            </div>
            <!-- END REGIONAL STATS PORTLET-->
        </div>
        <div class="col-md-6 col-sm-6">
            <!-- BEGIN PORTLET-->
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption caption-md">
                        <i class="icon-bar-chart font-green"></i>
                        <span class="caption-subject font-green bold uppercase">Support Issues</span>
                        <span class="caption-helper">{{ jiraIssues.length }} pending</span>
                    </div>
                    <div class="inputs">
                        <div class="portlet-input input-inline input-small ">
                            <div class="input-icon right">
                                <i class="icon-magnifier"></i>
                                <input type="text" class="form-control form-control-solid input-circle" placeholder="search..."> </div>
                        </div>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="scroller" style="height: 329px;" data-always-visible="1" data-rail-visible1="0" data-handle-color="#D7DCE2">
                        <div class="general-item-list">
                            <div ng-repeat="issue in jiraIssues" class="item">
                                <div class="item-head">
                                    <div class="item-details">
                                        <img class="item-pic rounded" ng-src="{{ issue.fields.reporter.avatarUrls['32x32'] }}">
                                        <a ui-sref="profile-details({email: issue.fields.reporter.eamilAddress})" class="item-name primary-link"></a>
                                        <span class="item-label" am-time-ago="issue.fields.customfield_10029.ongoingCycle.startTime.iso8601"></span>
                                    </div>
                                    <span class="item-status">
                                        <span class="badge badge-empty badge-success"></span> {{issue.fields.status.name}}</span>
                                </div>
                                <div class="item-body"> {{ issue.fields.summary | limitTo:200}} </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
	    <!-- END PORTLET-->
        </div>
    </div>
</div>
<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS & CSS -->
<script>
    Dashboard.init();
</script>
<!-- BEGIN MAIN JS & CSS -->
