<div class="row">
    <div class="col-md-6">
        <!-- BEGIN PORTLET-->
        <div class="portlet light bordered ">
            <div class="portlet-title">
                <div class="caption caption-md">
                    <i class="icon-bar-chart font-red"></i>
                    <span class="caption-subject font-red bold uppercase">Project Activity</span>
                    <span class="caption-helper hide">{{projectStatsTimeframe}} stats...</span>
                </div>
                <div class="actions">
                    <div class="btn-group btn-group-devided" data-toggle="buttons">
                        <label class="btn green btn-outline btn-circle btn-sm active" uib-btn-radio="'daily'" ng-model="projectStatsTimeframe">Today</label>
                        <label class="btn red btn-outline btn-circle btn-sm"uib-btn-radio="'weekly'" ng-model="projectStatsTimeframe">Week</label>
                        <label class="btn blue btn-outline btn-circle btn-sm"uib-btn-radio="'monthly'" ng-model="projectStatsTimeframe">Month</label>
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row number-stats margin-bottom-30">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="stat-left">
                            <div class="stat-chart">
                                <!-- do not line break "sparkline_bar" div. sparkline chart has an issue when the container div has line break -->
                                <div id="project_sparkline_total"></div>
                            </div>
                            <div class="stat-number">
                                <div class="title"> Total </div>
                                <div class="number"> {{ projectLeaders.alltime.totals.users }} </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="stat-right">
                            <div class="stat-chart">
                                <!-- do not line break "sparkline_bar" div. sparkline chart has an issue when the container div has line break -->
                                <div ng-show="projectStatsTimeframe == 'daily'" id="project_sparkline_day"></div>
                                <div ng-show="projectStatsTimeframe == 'weekly'" id="project_sparkline_week"></div>
                                <div ng-show="projectStatsTimeframe == 'monthly'" id="project_sparkline_month"></div>
                            </div>
                            <div class="stat-number">
                                <div class="title"> New </div>
                                <div class="number"> {{projectLeaders[projectStatsTimeframe].totals.users}} </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-scrollable table-scrollable-borderless">
                    <table class="table table-hover table-light">
                        <thead>
                        <tr class="uppercase">
                            <th colspan="2"> TOP USERS </th>
                            <th> COMMENTS </th>
                            <th> JOBS </th>
                            <th> DOCS </th>
                            <th> QUOTA </th>
                        </tr>
                        </thead>
                        <tr ng-repeat="n in [] | range:4">
                            <td class="fit">
                                <img class="user-pic rounded" ng-src="{{ projectLeaders[projectStatsTimeframe].leaders[n].img }}"> </td>
                            <td>
                                <a href="javascript:;" class="primary-link">{{ projectLeaders[projectStatsTimeframe].leaders[n].firstName }}</a>
                            </td>
                            <td> {{ projectLeaders[projectStatsTimeframe].leaders[n].comments }} </td>
                            <td> {{ projectLeaders[projectStatsTimeframe].leaders[n].jobs }} </td>
                            <td> {{ projectLeaders[projectStatsTimeframe].leaders[n].documents }} </td>
                            <td>
                                <span class="bold font-green">{{ projectLeaders[projectStatsTimeframe].leaders[n].karma }}%</span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <!-- END PORTLET -->
    </div>
    <div class="col-md-6 col-sm-6">
        <!-- BEGIN PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption caption-md">
                    <i class="icon-bar-chart font-green"></i>
                    <span class="caption-subject font-green bold uppercase">Support Issues</span>
                    <span class="caption-helper">{{ jiraIssues.length }} pending</span>
                </div>
                <div class="inputs">
                    <div class="portlet-input input-inline input-small ">
                        <div class="input-icon right">
                            <i class="icon-magnifier"></i>
                            <input type="text" class="form-control form-control-solid input-circle" placeholder="search..."> </div>
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <div class="scroller" style="height: 329px;" data-always-visible="1" data-rail-visible1="0" data-handle-color="#D7DCE2">
                    <div class="general-item-list">
                        <div ng-repeat="issue in jiraIssues" class="item">
                            <div class="item-head">
                                <div class="item-details">
                                    <img class="item-pic rounded" ng-src="{{ issue.fields.reporter.avatarUrls['32x32'] }}">
                                    <a ui-sref="profile-details({email: issue.fields.reporter.eamilAddress})" class="item-name primary-link"></a>
                                    <span class="item-label" am-time-ago="issue.fields.customfield_10029.ongoingCycle.startTime.iso8601"></span>
                                </div>
                                    <span class="item-status">
                                        <span class="badge badge-empty badge-success"></span> {{issue.fields.status.name}}</span>
                            </div>
                            <div class="item-body"> {{ issue.fields.summary | limitTo:200}} </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END PORTLET-->
    </div>
</div>
<!-- BEGIN MAIN JS-->
<script>
    Profile.init(); // init page demo
</script>
<!-- BEGIN MAIN JS -->